body {background-color: blueviolet;font-style: oblique;font-size:larger;font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 {color: antiquewhite;}
img {border-radius: 70%;}
#cba {cursor:zoom-out;background-color: beige;} 
#abc {text-align: center;}
